body {
    background: url(p9.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    height: auto;
    background-attachment: fixed;
  }
/*Div*/
.box1{
    margin-left:28vw;
    margin-right:28vw;
    position: relative;
    background: rgb(65, 65, 65, 0.7);   
    text-align: center;
    border-radius: 1vw;
    border-radius: 3vw;
    border-color: #00ffff;
    border-style: solid;
    margin-top: 20vh;
    height:auto;
}
@media(max-width: 700px){
    .box1{
        margin-left:10vw;
        margin-right:10vw;
        margin-top:35vh;
    }
}
/*Stuflify*/
.Tytul{
    font-family: 'Oswald', sans-serif;
    text-shadow: 0px 1vh rgb(65, 65, 65, 0.7);
    font-size: 7vw;
    text-align: center;
    color:White;
    margin-top: 0vh;
    margin: 3vw;
}
@media(max-width: 700px){
    .Tytul{
        font-size: 8vh;
    }
}
/*Site Nearly ready*/
.podtytul{
    letter-spacing: 2px;
    font-family: 'Radio Canada', sans-serif;
    color:white;
    font-size: 1vw;
    margin-top: 1vh;
}
@media(max-width: 700px){
    .podtytul{
        font-size: 2vh;
    }
}
.podtytul2{
    font-family: 'Caudex', serif;
    color:white;
    font-size:1.2vw;
    margin-bottom:3vh;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(255, 255, 255, 0.6));      
    filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.6));  
}
@media(max-width: 700px){
    .podtytul2{
       font-size:1.5vh; 
    }
}
.ikony{
    display: flex;
    margin-bottom: 2vh;
    align-items: center;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media(max-width: 700px){
    .ikony{
       text-align: center;
    }
}
.grid1{
    margin-bottom: -2vh;
    justify-content: center;
    grid-template-columns: 8vw 8vw 8vw;
    display: grid;
    column-gap: 7vw;   
    
    align-items: center;
}
@media(max-width: 700px){
    .grid1{
        position: relative;
        grid-template-columns: 10vw 10vw 10vw;
        column-gap: 15vw; 
    }
}
.separator{
    width: 3vw;
    position: relative;
    margin-left: 0.8vw;
    margin-right: 0.8vw;
    margin-top: 1vh;
}
@media(max-width: 700px){
    .separator{
        margin-left: 0;
    }
}
.btn2{
    width:5vw;
    height: 5vh;
    color:white;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 2vh;
    margin-bottom: 2vh;
    filter: invert(100%);
}
@media(max-width: 700px){
    .btn2{
        width:9vw;
        height: 10vh;
        margin-bottom: 0vh;
    }
}
.btn2:hover{
    -webkit-filter: drop-shadow(12px 12px 7px rgba(255, 255, 255, 0.6));      
    filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.6));  
}
.timer{
    color:aqua;
    font-family: 'Oswald', sans-serif;
    text-shadow: 0px 0.5vh rgb(65, 65, 65, 0.7);
    margin-top: 1vh;
    font-size: 180%;
}
@media(max-width: 700px){
    .timer{
        font-size: 100%;
    }
}
filter: invert(100%);